.content {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 100%;
}

.search-result-header {
  color: var(--zinc-main-text-color);
}

.search-result-header span {
  color: var(--zinc-secundary-text-color);
}

.filter {
  display: flex;
  align-items: center;
  gap: .5rem;
}

.videos-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}



