:host {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-main-content {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex: 1;
}

.logged-user-container {
  display: flex;
  align-items: center;
  gap: .5rem;
}

.profile-container {
  width: 100%;
  max-width: 250px;
  display: flex;
  align-items: center;
  gap: .5rem;
  padding: 10px 15px;
  background-color: var(--zinc-secundary-color);
  border-radius: 8px;
  box-shadow: var(--default-box-shadow);
}

.profile-info {
  display: flex;
  flex-direction: column;
  text-overflow: clip;
  overflow: hidden;
}

.profile-picture {
  width: 32px;
  height: auto;
  border-radius: 50%;
}

.profile-info p {
  text-wrap: nowrap;
}

.profile-info p:first-child {
  font-weight: 500;
}

.profile-info p:last-child {
  font-size: 0.8rem;
  color: var(--zinc-secundary-text-color);
}

@media screen and (max-width: 650px) {
  :host {
    flex-direction: column;
    gap: 1rem;
  }

}
